html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}
/* ul {
  list-style: none;
} */
/* li {
  list-style: none;
} */

.top-banner {
  background-image: url(./assets/img/bg.jpg);
  width: 100%;
}

.imgnow {
  background-image: url("./assets/img/bg-3.jpg");
  /* width: 100%;
  height: 100vh; */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
.imgnow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 550px;

  overflow: hidden;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 550px;
  overflow: hidden;
  border-radius: 5px;
}

.slides {
  display: flex;
  width: 100%;
  animation: slide 80s linear infinite;

  height: 100%;
}

.slides img {
  width: 100%; /* Ensure the images fill the container */
  height: 100%; /* Ensure the height fits the container */
  object-fit: cover; /* Ensure the image maintains aspect ratio */
  flex-shrink: 0;
  object-position: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
