@import "tailwindcss";

@theme {
  --color-primary: #006837;
  --color-secondary: #1d1d1d;
  --color-accent: #198754;
  --color-accent-dark: #0f5132;
}
/* .container-wrapper {
  @apply mx-auto max-w-[1280px] p-4;
} */
